<!DOCTYPE html>
<html lang="en">
  <head>
    
    {% load static %}
    
  <meta charset="UTF-8">
    <title>CrediRisk</title>
    <link rel="logo" href="images/logo.png", "Credirisk!!!"/>
    <link rel="bath" href="images/icon_bath.png.", "Credirisk!!!"/>
    <link rel="bed" href="images/icon_bed.png", "Credirisk!!!"/>
    <link rel="group" href="images/icon_group.png", "Credirisk!!!"/>
    <link rel="icon" href="images/icon.png", "Credirisk!!!"/>
    <link rel="matrix" href="images/matrix2.png", "Credirisk!!!"/>
    <link rel="stylesheet" href="static/common.css">
    <link rel="stylesheet" href="static/footer.css">
    <link rel="stylesheet" href="static/header.css">
    <link rel="stylesheet" href="static/filters.css"/>
    <link rel="stylesheet" href="static/places.css"/>
</head>
<body>
    <header>
        <div class="logo"></div>
    </header>
    <div class="container">
        <section class="filters">
            <div class="location">
                <h3>Home</h3>
                <h4>Consultas, bacos</h4>
                <ul class="popover">
                    <li>
                        <h2>
                            Consultas
                        </h2>
                        <ul>
                            <li>
                                EStados
                            </li>
                            <li>
                                Rquisitos
                            </li>
                        </ul>

                    <li>
                        <h2>
                            Bancos
                        </h2>
                        <ul>
                            <li>
                                Avvillas
                            </li>
                            <li>
                                Bancolombia
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="amenities">
                <a href="{% url 'Servicios' %}">Servicios</a>
                <h4>Vivienda, Vehiculos</h4>
                <ul class="popover">
                    <li>
                        Vivienda
                    </li>
                    <li>
                        Libre inversion
                    </li>
                    <li>
                        Veiculos
                    </li>
                    <li>
                        Estudios
                    </li>
                </ul>
            </div>
            <button>Busque</button>
        </section>
       </div>
	{% block content %}
	
	{% endblock %}
    <footer>
        CreditRisk derechos reservados
    </footer>
</body>
</html>
